<div class="contenedor" id="acerca-de">
    <div class="contenedor-acerca-de">
        <h2 class="subtitulo">Acerca De</h2>
        <div class="acerca-de">
        <div class="cont-acerca-de">
           <!-- <div class="pencil-acerca-de">
                <a href="./" class="pencil-icon">
                    <i class='bx bxs-edit'></i>
                </a></div>    
            <div class="trash-icon">
                <a href="./" class="trash-icon">
                  <i class='bx bx-trash'></i></a></div>-->           
    <div>
        <p class="texto-acerca-de">{{persona[0].sobreMi}}</p>
    
    </div>
    </div>     
    </div>
</div>     