<footer id="contacto">
    <div class="contenedor footer-content">
        <div class="contact-us">
            <h2 class="brand">Daniela Morandin</h2>
            <p>Argentina Programa #YoProgramo</p>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com/dana.rexx/" class="social-media-icon">
                <i class='bx bxl-facebook'></i>  
            </a>
            <a href="https://twitter.com/Danarexxx" class="social-media-icon">
                <i class='bx bxl-twitter'></i>   
            </a>
            <a href="https://www.instagram.com/danarex/" class="social-media-icon">
                <i class='bx bxl-instagram-alt' ></i>   
            </a>
        </div>
    </div>
    <div class="line"></div>
</footer>
