<ul class="menu">
    <li><a href="https://www.facebook.com/dana.rexx/" class="menu-icon"><i class='bx bxl-facebook'></i>  </a></li>
    <li><a href="https://twitter.com/Danarexxx" class="menu-icon"><i class='bx bxl-twitter'></i>  </a></li>
    <li><a href="https://www.instagram.com/danarex/" class="menu-icon"><i class='bx bxl-instagram-alt'></i>  </a></li>
    <p class="menu-logo">Argentina Programa</p>
    <li id="button"><button type="button" class="btn btn-outline-light " (click)="login()" *ngIf="!isLogged">Login</button></li>
    <li id="button"><button type="button" class="btn btn-outline-light " (click)="onLogOut()"*ngIf="isLogged">Cerrar Sesión</button></li>
</ul>
