.menu{
    font-family:inherit;
    background-color:rgb(175,113,123);
    list-style: none;
    padding:0;
    width:100%;
    max-width:auto;
    margin:auto;

}

.menu li a {
    text-decoration:none;
    font-weight:700;
    color:white;
    padding:20px;
    display:block;
}

.menu li{
    display: inline-block;
    align-items: center;

}

#login{
    position:absolute;
    right:100px;
}
.menu li a:hover{
    background:#7edbdc;
}

.menu-logo {
    color:white;
    float: right;
    margin-top: 2%;
    margin-right: 2%;

}