<div class="contenedor" id="hard-and-soft-skills">
    <div class="cont-skills">
        <h2 class="subtitulo">Hard and Soft Skills</h2>
        <div class="row">
            <div class="text-center col-sm-auto">
                <circle-progress
            [percent]="40"
            [radius]="120"
            [showUnits]="false"
            [title] ="'Pensamiento Creativo'"
            [titleFontSize] = "'16px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#af717b'"
            [innerStrokeColor]="'#7edbdc'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
            </div>
            
         <div class="text-center col-sm-auto">
          <circle-progress
          [percent]="70"
          [radius]="120"
          [showUnits]="false"
          [title] ="'Resolución de Problemas'"
          [titleFontSize] = "'16px'"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#af717b'"
          [innerStrokeColor]="'#7edbdc'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
         </div>

         <div class="text-center col-sm-auto">
        <circle-progress
        [percent]="85"
        [radius]="120"
        [showUnits]="false"
        [title] ="'Habilidades interpersonales'"
        [titleFontSize] = "'16px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#af717b'"
        [innerStrokeColor]="'#7edbdc'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>   
    
    
              
    </div>
   
</div>

 