/*Experiencia*/

.img-experiencia {
    display:block;
    float:left;
    width:40px;
    margin:0 auto;
    flex-wrap: wrap;
}


.experience {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.cont-experiencia{
    width: 30%;
    text-align: center;
    margin-bottom: 20 px;
}