.gradient-custom {
    /* fallback for old browsers */
    background: #af717b;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(175,113,123),rgb(126,219,220));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,rgb(175,113,123),rgb(126,219,220))
    }