* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    max-width:1200px;
    overflow:hidden;
    margin:auto;
    padding: 60px 0;
    
}

/*Menu nav bar*/

.menu{
    font-family:inherit;
    background-color:rgb(175,113,123);
    list-style: none;
    padding:0;
    width:100%;
    max-width:auto;
    margin:auto;
    

}

.menu li a {
    text-decoration:none;
    font-weight:700;
    color:white;
    padding:20px;
    display:block;
}

.menu li{
    display: inline-block;
    align-items: center;

}

#login{
    position:absolute;
    right:100px;
    margin-top: 0.5em;
}
.menu li a:hover{
    background:#7edbdc;
}

/*Header*/

header{
    height:100vh;
    background-image: linear-gradient(to top, rgba(104, 226, 253, 0.5) 0%, rgba(255, 179, 166, 0.5) 100%), url(/assets/naturaleza-header.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.head{
    text-align:center;
    padding:0;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(255, 255, 255);

}

/*Encabezado*/

.info-encabezado-logo li{
    display:inline-block;
    align-items:center;
    text-align: center;
}

.info-encabezado-logo img{
    
    align-items:center;
    
}

.contenedor-encabezado {
    display:block;
    width:100%;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin:auto;
    

}



.info-encabezado p{
    font-size: medium;
    font-weight: 300;

}

.pencil-encabezado i {
    display:block;
    color:grey;
    float:right;  
    font-size:20px;
    margin:0 auto;
    flex-wrap: wrap;
    text-decoration: none;

}

.info-contacto-encabezado{
    display: inline-block;
    text-align: center;
    align-items: center;
    font-family: inherit;
    font-weight: 700;
    font-size: larger;
    color: #7edbdc;
    margin:auto;
    padding:5px;

}


.perfil-redondo {
    width: 40%;

}

.btn-light {
display:inline-block;
text-align: center;
align-items: center;
justify-content: space-evenly;
flex-direction: row;
width:150px;
height:100%;
font-family:inherit;
font-size: medium;;
font-weight: 400;
border-radius:5px;
margin:2px;
padding:5px;
text-decoration: none;
color:white;
background-color: #7edbdc;

}

.btn-light:hover {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color:black;
}



.contenedor-head  {
    color:white;
    text-align:center;
    margin:auto;
    padding:20%;
    align-items: center;
    display:block;
    justify-content:center;
    
}



/*Acerca De */

.subtitulo{
    text-align:center;
    font-weight: 300;
    color:rgb(214,133,154);
    margin-bottom: 40px;
    font-size: 40px;
} 

.texto-acerca-de{
    text-align: center;
}

.checklist acerca-de  {
    width:45%;
}


.pencil-icon i {
    display:block;
    color:grey;
    float:right;
    font-size:20px;
    margin:0 auto;
    flex-wrap: wrap;

}

.trash-icon i {
    display:block;
    color:grey;
    float:right;
    font-size:20px;
    margin:0 auto;
    flex-wrap: wrap;

}

.pencil-icon :hover{
    background-color: white;
    color:rgb(104,225,253);
}

.trash-icon :hover{
    background-color: white;
    color:rgb(104,225,253);
}


.gallery {
    background-color: white;
     
}

.contenedor-gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    margin:auto;
}


.img-gallery {
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor:pointer ;
    

}

.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height:100%;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s 2s;
}

.showImage{
    transform:scale(1);
}

.close{
    position:absolute;
    top:15px;
    right:15 px;
    width: 40px;
    cursor:pointer;
}

/*Experiencia*/

.img-experiencia {
    display:block;
    float:left;
    width:40px;
    margin:0 auto;
    flex-wrap: wrap;
}

.img-education {
    display:block;
    float:left;
    width:40px;
    margin:0 auto;
    flex-wrap: wrap;
}

.experience {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.education {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.cont-educacion {
    width: 100%;
    text-align: center;
    margin-bottom: 20 px;
}

.cont-experiencia{
    width: 100%;
    text-align: center;
    margin-bottom: 20 px;
}

.cont-skills{
    width: auto;
    text-align: center;
    margin-bottom: 20 px;
    
}

/*Footer*/
footer{
    background-color:#7edbdc;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 0.1px;
    
}

.footer-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;

}

.contact-us{
    width:40%;
    color:white;

}
.brand{
font-weight: 500;
font-size: 40px;

}

.brand+p{
    font-weight: 500;


}

.social-media{
    width:50%;
    display:flex;
    justify-content: flex-end;
}

.social-media-icon{
    display:inline-block;
    margin-left: 20px;
    width: 60px;
    height:60px;
    border:1px solid #fff ;
    border-radius: 50%;
    text-align: center;
    color:white;
    
}

.social-media-icon :hover{
    background-color: rgb(178,169,85);
    color:rgb(104,225,253);
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;

}

.line{
    width:90%;
    max-width: 1200px;
    margin:0 auto;
    height:2px;
    background: white;
    margin-bottom: 60px;

}

 @media screen and(max-width:800px) {
 .menu-navegacion{
    width:50 vw;
 }   
 .titulo {
    font-size:40px;
 }
 .contenedor-acerca-de img {
    width:80%;
    margin-bottom: 40px;

 }
 .checklist-acerca-de {
    width:80%;
 }
 .acerca-de{
    margin-bottom: 30px;;
 }
 .agregar-imagen{
    width:80% ;
 }
 .social-media{
    width:80%;
    justify-content: space-evenly;
 }

 .footer-content{
    justify-content: center;
 }
 .social-media i{
    margin-left:0;
 }

 .social-media-icon{
    margin-left:0;
 }
 .contact-us{
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
 }
}


@media screen and(max-width:500px) {
    .menu-navegacion{
       width:65 vw;
    }   

    .hamburguer{
        top:20px;
        right:20px;
    }

    .titulo {
       font-size:30px;
    }

    .subtitulo{
        font-size:30px;
    }

    .agregar-imagen{
       width:95% ;
    }

    .img-gallery{
        width:95%;
    }
    .social-media{
       width:100%;
    
    }

    .contact-us{
        width:90%;
    }
   
    .barraStyle{
        border-radius:10 px;


    }
    .barraStyle::-webkit-progress-bar{
        border-radius: 10px;
        background: #fff;
    }

   }
   
